<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="connString1" value="DATA SOURCE=DESKTOP-795JE86" />
    <add key="connString2" value="SQLEXPRESS; Initial Catalog=MajorAirline; Integrated Security=true;"/>
    <add key="parent" value="TechTeams"/>
    <add key="child" value="Engineers"/>
    <add key="selectAllParent" value="SELECT * FROM TechTeam"/>
    <add key="selectAllChild" value="SELECT * FROM Engineer"/>
    <add key="foreignKey" value="FK_TechTeams_Engineers"/>
    <add key="keyParent" value="id"/>
    <add key="keyChild" value="id"/>
    <add key="foreignKeyChild" value="tid"/>
    <add key="insertQuery" value="INSERT Engineer VALUES (@name,@tid)"/>
    <add key="deleteQuery" value="DELETE FROM Engineer WHERE id=@engineerId"/>
    <add key="updateQuery" value="UPDATE Engineer SET name=@name WHERE id=@engineerId"/>
    <add key="primaryKeyChild" value="@engineerId"/>
    <add key="column1" value="@name"/>
    <add key="column2" value="@tid"/>
  </appSettings>
</configuration>


<!--<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="connString1" value="DATA SOURCE=DESKTOP-795JE86" />
    <add key="connString2" value="SQLEXPRESS; Initial Catalog=MajorAirline; Integrated Security=true;"/>
    <add key="parent" value="Airports"/>
    <add key="child" value="Terminals"/>
    <add key="selectAllParent" value="SELECT * FROM Airport"/>
    <add key="selectAllChild" value="SELECT * FROM Terminal"/>
    <add key="foreignKey" value="FK_Aiports_Terminals"/>
    <add key="keyParent" value="id"/>
    <add key="keyChild" value="tid"/>
    <add key="foreignKeyChild" value="airpId"/>
    <add key="insertQuery" value="INSERT Terminal VALUES (@coordinates,@airpId)"/>
    <add key="deleteQuery" value="DELETE FROM Terminal WHERE tid=@terminalId"/>
    <add key="updateQuery" value="UPDATE Terminal SET coordinates=@coordinates WHERE tid=@terminalId"/>
    <add key="primaryKeyChild" value="@terminalId"/>
    <add key="column1" value="@coordinates"/>
    <add key="column2" value="@airpId"/>
  </appSettings>
</configuration>-->

